<launch>
  <arg name="port" default="/dev/ttyACM0" doc ="the serial port for connection" />
  <arg name="baud" default="115200" doc ="the serial baudrate" />
  <arg name="rviz" default="false" doc="Set true if you want RViz." />
  <arg name="hsi" default="true" doc="Set true if you want to use hsi filter." />
  <arg name="moveit" default="false" doc="Set true if you want Moveit-based plan." />
  <arg name="realsense2" default="true" doc="Set true if you use realsense2 depth camera"/>
  <arg name="openni" default="false" doc="Set true if you use openni depth camera"/>
  <arg name="mycobot_debug" default="false" doc="Set true if you want to check mycobot comm and others"/>
  <arg name="joy" default="true" doc="Set true if you want to use joystick"/>
  <arg name="joyeus" default="true" doc="Set true if you want to use joystick for control the mycobot"/>
  <arg name="hair_flow_detect" default="true" doc="Set true if you want to detect hair flow"/>
  <arg name="hair_flow_open3d_viz" default="false" doc="Set true if you want to visualize the hair flow path on opend3d viewer"/>

  <!-- for realsense2 -->
  <arg name="camera"         default="camera"/>
  <!-- <arg name="rgb_processing"                  default="true"/> -->
  <!-- <arg name="ir_processing"                   default="true"/> -->
  <!-- <arg name="depth_registration"              default="true"/> -->
  <!-- <arg name="depth_processing"                default="true"/> -->
  <!-- <arg name="depth_registered_processing"     default="true"/> -->
  <!-- <arg name="disparity_processing"            default="true"/> -->
  <!-- <arg name="disparity_registered_processing" default="true"/> -->
  <!-- <arg name="hw_registered_processing"        default="true"/> -->
  <!-- <arg name="sw_registered_processing"        default="true"/> -->
  <!-- <arg name="color_width"         default="640"/><!-\- 1920 -\-> -->
  <!-- <arg name="color_height"        default="480"/><!-\- 1080 -\-> -->
  <!-- <arg name="color_fps"        default="30"/> -->
  <!-- <arg name="depth_width"         default="848"/> <!-\- 1280 -\-> -->
  <!-- <arg name="depth_height"        default="480"/> <!-\- 720 -\-> -->
  <!-- <arg name="depth_fps"        default="30"/> -->
  <!-- <arg name="align_depth" default="true"/> -->
  <!-- <arg name="enable_pointcloud"    default="true"/> -->
  <arg name="camera_ns" default="camera" />

  <!-- for hsi  -->
  <!-- <arg name="in_points"         default="/camera/depth_registered/points"/> -->
  <!-- <!-\- for joystick -\-> -->
  <!-- <arg name="interval"         default="0.2"/> -->
  <!-- <arg name="autorate"         default="5"/> -->
  <!-- <!-\- for hair flow detect-\-> -->
  <!-- <arg name="input_image"         default="/camera/color/image_rect_color"/> -->
  <!-- <arg name="input_points"         default="/camera/depth_registered/points"/> -->

  <!-- Driver -->
  <include file="$(find jsk_mycobot_startup)/launch/mycobot_interface.launch" >
    <arg name="port" value="$(arg port)" />
    <arg name="baud" value="$(arg baud)" />
    <!-- <arg name="debug" value="$(arg mycobot_debug)" /> -->
  </include>

  <!-- Moveit -->
  <include if="$(arg moveit)" file="$(find mycobot_280_moveit)/launch/move_group.launch" >
    <arg name="info" value="true" />
  </include>

  <!-- realsense2 -->
  <!-- <include if="$(arg realsense2)" file="$(find realsense2_camera)/launch/rs_rgbd.launch"> -->
  <!--   <arg name="camera" value="$(arg camera)"/> -->
  <!--   <arg name="align_depth" value="$(arg align_depth)"/> -->
  <!--   <arg name="color_width" value="$(arg color_width)"/> -->
  <!--   <arg name="color_height" value="$(arg color_height)"/> -->
  <!--   <arg name="color_fps"    value="$(arg color_fps)"/> -->
  <!--   <arg name="depth_width"  value="$(arg depth_width)"/> -->
  <!--   <arg name="depth_height" value="$(arg depth_height)"/> -->
  <!--   <arg name="depth_fps"    value="$(arg depth_fps)"/> -->
  <!--   <arg name="enable_pointcloud"    value="$(arg enable_pointcloud)"/> -->
  <!-- </include> -->
<!-- home config -->
  <!-- <node name="realsense_transform_publisher" pkg="tf" type="static_transform_publisher" -->
  <!--       args="-0.03 0.07 0.2 0.0 0.0 0.0 link1 $(arg camera_ns)_link 100" /> -->
<!-- lab config -->
  <!-- <node name="realsense_transform_publisher" pkg="tf" type="static_transform_publisher" -->
  <!--       args="-0.04 0.115 0.3 0.0 0.2617 0.0 link1 $(arg camera_ns)_link 100" /> -->
  <!-- <node name="realsense_transform_publisher" pkg="tf" type="static_transform_publisher" -->
  <!--       args="-0.030 0.138 0.315 -1.5707 0.1308 0.0 link1 $(arg camera_ns)_link 100" /> -->
  <node name="realsense_transform_publisher" pkg="tf" type="static_transform_publisher"
        args="-0.030 0.128 0.315 -1.5707 0.3425 0.0 link1 $(arg camera_ns)_link 100" />

  <node name="atom_button_servo_switch" pkg="mycobot_280" type="atom_button_listener.py"/>
  <!-- joystick -->
  <!-- <node if="$(arg joy)" name="joy" type="joy_node" pkg="joy" args="_coalesce_interval:=$(arg interval) _autorepeat_rate:=$(arg autorate)"/> -->
  <!-- <node if="$(arg joyeus)" name="joy_roseus" type="mycobot-joystick.l" pkg="mycoboteus"/> -->


  <!-- tf broadcaster -->
  <!-- <node type="tf_broadcaster" pkg="jsk_mycobot_startup" name="tf_mycobot_broadcaster"/> -->

  <!-- Rviz -->
  <include if="$(arg rviz)" file="$(find jsk_mycobot_startup)/launch/rviz.launch" />


</launch>
