<launch>
  <arg name="port" default="/dev/ttyACM0" doc ="the serial port for connection" />
  <arg name="baud" default="115200" doc ="the serial baudrate" />
  <arg name="rviz" default="false" doc="Set true if you want RViz." />
  <arg name="moveit" default="false" doc="Set true if you want Moveit-based plan." />
  <arg name="mycobot_debug" default="false" doc="Set true if you want to check mycobot comm and others"/>
  <arg name="camera_ns" default="camera" />

  <!-- Driver -->
  <include file="$(find jsk_mycobot_startup)/launch/mycobot_interface.launch" >
    <arg name="port" value="$(arg port)" />
    <arg name="baud" value="$(arg baud)" />
  </include>

  <!-- Moveit -->
  <include if="$(arg moveit)" file="$(find mycobot_280_moveit)/launch/move_group.launch" >
    <arg name="info" value="true" />
  </include>

  <!-- <node name="atom_button_servo_switch" pkg="mycobot_280" type="atom_button_listener.py"/> -->
  <node name="realsense_transform_publisher" pkg="tf" type="static_transform_publisher"
        args="-0.030 0.128 0.315 -1.5707 0.3425 0.0 link1 $(arg camera_ns)_link 100" />

  <!-- Rviz -->
  <include if="$(arg rviz)" file="$(find jsk_mycobot_startup)/launch/rviz.launch" />


</launch>
