<launch>
  <arg name="port_1" default="/dev/ttyACM0" doc ="the serial port for connection" />
  <arg name="baud_1" default="115200" doc ="the serial baudrate" />
  <arg name="port_2" default="/dev/ttyACM1" doc ="the serial port for connection" />
  <arg name="baud_2" default="115200" doc ="the serial baudrate" />

  <arg name="rviz" default="true" doc="Set true if you want RViz." />
  <arg name="moveit" default="false" doc="Set true if you want Moveit-based plan." />

  <!-- Driver -->
  <group ns="rarm">
    <include file="$(find jsk_mycobot_startup)/launch/mycobot_interface.launch" >
        <arg name="port" value="$(arg port_1)" />
        <arg name="baud" value="$(arg baud_1)" />
    </include>
  </group>

  <group ns="larm">
    <include file="$(find jsk_mycobot_startup)/launch/mycobot_interface.launch" >
      <arg name="port" value="$(arg port_2)" />
      <arg name="baud" value="$(arg baud_2)" />
    </include>
  </group>

  <!-- Moveit -->
  <include if="$(arg moveit)" file="$(find mycobot_280_moveit)/launch/move_group.launch" >
    <arg name="info" value="true" />
  </include>

  <!-- Rviz -->
  <include if="$(arg rviz)" file="$(find jsk_mycobot_startup)/launch/rviz.launch" />
</launch>
