<launch>
  <arg name="port" default="/dev/ttyUSB0" doc ="the serial port for connection" />
  <arg name="baud" default="115200" doc ="the serial baudrate" />
  <arg name="robot_type" default="mycobot"/>
  <arg name="get_angles" default="true"/>
  <arg name="get_gripper" default="true"/>
  <arg name="get_atom_button" default="false"/>
  <arg name="set_angles" default="true"/>
  <arg name="set_gripper" default="true"/>
  <arg name="load_robot_state_publisher" default="true"/>
  <arg name="urdf_path" default="$(find mycobot_description)/urdf/$(arg robot_type)/mycobot.urdf.xacro"/>
  <arg name="rviz" default="true" />
  <arg name="rvizconfig" default="$(find jsk_mycobot_startup)/config/mycobot.rviz" />

  <!-- <arg name="model" default="$(find mycobot_description)/urdf/mycobot_280_m5/mycobot_280_m5.urdf"/> -->

  <!-- Driver -->
  <node pkg="jsk_mycobot_startup" type="mycobot_interface.py" name="$(anon mycobot_bridge)"  output="screen" >
    <param name="port" value="$(arg port)" />
    <param name="baud" value="$(arg baud)" />
    <param name="get_angles" value="$(arg get_angles)" />
    <param name="get_gripper" value="$(arg get_gripper)" />
    <param name="get_atom_button" value="$(arg get_atom_button)" />
    <param name="set_angles" value="$(arg set_angles)" />
    <param name="set_gripper" value="$(arg set_gripper)" />
    <param name="model" value="$(arg robot_type)" />
  </node>
  <node name="mycobot_services_getter" pkg="mycobot_communication" type="mycobot_services_getter.py" output="screen">
		<param name="port" type="string" value="$(arg port)" />
		<param name="baud" type="int" value="$(arg baud)" />
  </node>
  <node name="mycobot_services_setter" pkg="mycobot_communication" type="mycobot_services_setter.py" output="screen">
		<param name="port" type="string" value="$(arg port)" />
		<param name="baud" type="int" value="$(arg baud)" />
  </node>

  <!-- robot state publisher for tf -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_path)'" />
  <!-- if mode is the dual arm mode, it is need to change urdf for dual arm robot model  -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  if="$(arg load_robot_state_publisher)" />

	<!-- Show in Rviz ，显示在Rviz-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" if="$(arg rviz)" />

</launch>
