<launch>
    <arg name="use_rviz" default="true" />
    <arg name="use_head_camera" default="true" />
    <arg name="use_chest_camera" default="true" />
    <arg name="use_voxel_grid" default="true" />

    <include file="$(find sciurus17_moveit_config)/launch/demo.launch" if="$(arg use_rviz)"/>
    <include file="$(find sciurus17_moveit_config)/launch/sciurus17_planning.launch" unless="$(arg use_rviz)">
      <arg name="use_gazebo" value="false"/>
      <arg name="use_rviz" value="$(arg use_rviz)"/>
    </include>

    <include ns="sciurus17" file="$(find sciurus17_vision)/launch/realsense.launch" if="$(arg use_head_camera)">
      <arg name="color_fps" value="30"/>
      <arg name="color_width" value="1280"/>
      <arg name="color_height" value="720"/>
      <rosparam>
	/sciurus17/aligned_depth_to_color/image_raw/compressedDepth/png_level: 9
	/sciurus17/camera/color/image_raw/compressed/png_level: 9
      </rosparam>
    </include>

    <include ns="sciurus17" file="$(find sciurus17_vision)/launch/chest_camera.launch" if="$(arg use_chest_camera)"/>

    <include ns="sciurus17" file="$(find jsk_sciurus17_teleop)/launch/camera_voxel_grid.launch" if="$(arg use_voxel_grid)">
      <arg name="topic_ns" value="/sciurus17/camera/depth_registered/points"/>
      <arg name="leaf_size" value="0.003" />
      <arg name="depth_min" value="0.01" />
      <arg name="depth_max" value="0.5" />
    </include>

    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch"/>
    <!-- need to sleep -->
    <node name="teleoperation_node_left" pkg="sciurus17eus" type="sciurus17-l-arm-teleop.l"/>
    <node name="teleoperation_node_right" pkg="sciurus17eus" type="sciurus17-r-arm-teleop.l"/>
    <node name="force_estimation_node" pkg="sciurus17eus" type="force-estimation-arms.l"/>
</launch>
