<launch>
    <arg name="use_insta_360" default="true"/>
    <arg name="use_respeaker" default="true"/>

    <!-- insta360 -->
    <include
        if="$(arg use_insta_360)"
        file="$(find jsk_perception)/sample/sample_insta360_air.launch"
        >
        <arg name="gui" value="false" />
        <arg name="brightness" value="128" />
    </include>

    <!-- Respeaker -->
    <node
        pkg="respeaker_ros"
        type="respeaker_node.py"
        name="respeaker_node"
        if="$(arg use_respeaker)"
        />

    <!-- USB cam -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video6" /> <!-- workaround for P1 -->
      <param name="camera_info_url" value="file://$(find jsk_spot_startup)/config/usb_cam_elecom.yaml" />
      <param name="pixel_format" value="yuyv" />
      <param name="framerate" value="10" />
  </node>


</launch>
